@font-face {
    font-family: 'RobotoMono';
    src: url('assets/RobotoMono-SemiBold.ttf');
  }
 body {
    background-color: black;
 }
 #container {
    margin: 10vh auto;
    padding: 5em;
    height: 100vh;
    width: 50vw;
    background-color: blue;
    color: white;
    border-radius: 30px;
    border: solid 3px turquoise;
    font-family: 'RobotoMono';
 }
 #container h2 {
    padding: 1em;
 }
 #container p {
    padding: 1em;
 }
 #container a {
    margin-top: 1em;
    padding: 1em;
    background-color: white;
    color: orangered;
    border-radius: 1em;
 }